section {   
}
.textWrapper {       
    display: inline-flex;   
}
.logo {
    /* Logo size = 816 high x 747 Wide ratio = 1.092369 */
    height: 20px;
    width: 22px;
    display: flex;
    margin: 0.2em 1em;
}
.floatLeft {    
    text-align: left;
} 
