:root {
  --banner-height: 10vh;
}
section {
  background: yellow;
}
/* logo ratio L:H 4.17 */
header {
  width: 100%;
}
.navImageWrapper {
  background-color: black;
  background-image: url('../../assets/images/banner.jpg');
  background-position: bottom; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}
.navWrapper {
  display: flex;
  justify-content: space-between;
}
nav {
  width: 100%;
  height: 100%;
}
.logo {
  /* Logo size = 816 high x 747 Wide ratio = 1.092369 */
  height: 160px;
  width: 146px;
  display: flex;
}
.navLinks {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  width: 80%;
  height: 100%;
  padding-top: 0.2em;

  /* margin-right: 10%; */
}
.navLinks li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  padding: 0.2em;
}

.navLinks li a:hover {
  color: black;
  background-color: white;
  transition: all 200ms ease-out;
}

/* Banner Content styling */
.spacer {
  height: 4px;
  width: 4%;
}
.home {
  background-color: yellow;
}
.about {
  background-color: crimson;
}
.personalTraining {
  background-color: blue;
}
.onlineCoaching {
  background-color: purple;
}
.bannerContentContainer {
  color: white;
}
.bannerContentWrapper {
  color: white;
  height: 28vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bannerContentInnerWrapper {
  display: flex;
}
.bannerContentInnerWrapper button {
  border: white 1px solid;
  background-color: black;
  color: white;
  margin: 0.5em 0.5em;
}
.bannerContentInnerWrapper button:hover {
  background-color: rgba(51, 51, 51, 0.5);
  cursor: pointer;
}
/* Banner Content styling */

/* Media Queries */
@media all and (max-width: 768px) {
  .line {
    width: 30px;
    height: 3px;
    margin: 5px;
    background-color: white;
  }
  nav {
    position: relative;
    margin-right: 2px;
  }
  .hamburger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    /* top: 50%;
    transform: translate(-5%, -50%); */
    /* z-index: 2; */
  }

  .navLinks {
    position: fixed;
    right: 0;
    background-color: black;
    height: 100vh;
    width: 100%;
    margin-right: 1px;
    flex-direction: column;
    clip-path: circle(10px at 98% -12%);
    -webkit-clip-path: circle(10px at 98% -12%);
    transition: all 1s ease-out;
  }
  .navLinks.open {
    clip-path: circle(1400px at 98% -12%);
    -webkit-clip-path: circle(1400px at 98% -12%);
  }
}
