footer { 
  text-align: center;
  color: white;
  height: auto;  
  background-color: rgba(51,51,51,1);
}
.footerImage {
  background-color: rgba(51,51,51,1);
  background-image: url('../../assets/images/banner.jpg');
  background-position: bottom; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}
.footerImageOne {
  background-image: url('../../assets/images/barbells.png');
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}
.footerImageTwo {
  background-image: url('../../assets/images/dumbells.png');
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}
.footerImageThree {
  background-image: url('../../assets/images/bumbbellwrack.png');
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}
.footerImageFour {
  background-image: url('../../assets/images/kettlebells.png');
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}


.logo {
  /* Logo size = 816 high x 747 Wide ratio = 1.092369 */
  height: 100px;
  width: 92px;
  display: flex;
  margin: 0.2em;
}
.footerBackGroundWrapper {
  color: rgba(51,51,51,1);
  background-color: white;
}
.footer-center-content {
  text-align: center;
}
.inner-wrapper {
  display: flex;
  justify-content: space-around;
  padding: 1em;
}
.facebook {
  opacity: 0.6;
  background-color: white;
  height: auto;
  width: auto;
}
.facebook:hover {
  opacity: 1;
  transform: scale(1.1);
  transition: all 200ms ease-out;
}
.instagram {
  opacity: 0.6;
  background-color: white;
  height: auto;
  width: auto;
}
.instagram:hover {
  opacity: 1;
  transform: scale(1.1);
  transition: all 200ms ease-out; 
}

.arrow-alignment {
  display: flex;
  align-items: center;
}
.footer-conversation {
  color: white;
  padding-right: 1em;
  text-transform: uppercase;
  font-weight: 600;
}
.right-arrow {
  font-weight: 600;  
  height: 48px;
  width: 48px;
}
.footerContent { 
  margin: auto;
  display: flex;
  flex-direction: row;
}
.item {
  align-items: center;
  width: 100%;
  
}
.footerForm  {
  flex-grow: 1;
  background-color: white;  
}

.bottomWrapper {
  width: 80%;
  margin: 0 auto;  
  font-size: 0.85em;
}
.imageHeight {
  border: white 2px solid;
  height: calc(300px / 3);
  overflow: hidden;
}
.innerFooterWrapper {      
  display: flex;
  align-items: center;

}
.footerInnerWidth {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 40%;
}

.backGroundImageContainer { 
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.backGroundImageItem {
  border: 1px white solid;
  width: calc(100% / 3);
  height: calc(300px / 2);
}