@import url('https://fonts.googleapis.com/css?family=Merriweather');
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

* {
  margin: 0;
}
* + * {
  margin: 1em 0 0;
}

/* Set core body defaults */
body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-size: 16px;
}

body {
  display: grid;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Optimizing fonts */
.title {
  letter-spacing: 2px;
  font-size: clamp(1rem, 2.5vw, 2.5rem);
}
p {
  line-height: 1.5;
  /* font-size: clamp(1.6rem, 1.25vh, 1.25rem); */
  font-size: max(1.2rem, 1.25vw);
}

section {
  text-align: center;
  margin: 0 auto; 
}

/* Media Queries */
@media all and (max-width: 768px) { 
  .form-container {
   flex-direction: column;    
  }
  .metric-wrapper {
    flex-direction: column;
  }
  .item { 
   flex-direction: column !important;  
  }
  .label {
    margin-left: 1.6em !important;
  }
  
  
}

.border-temp {
  border: 2px solid greenyellow;
}